* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0D1B2A;
    --dark-blue-2: #263342;
    --medium-blue: #1B263B;
    --light-blue: #415A77;
    --light-blue-2: #778DA9;
    --titles-color: #E0E1DD;
    --text-color: #f3f5f8fc;
    --text-color-on-white: black;
    --nav-text-color: #ffffff;
    --nav-text-color-hover: rgb(252, 165, 5);

    --sec-bg: #dbdada;

    --general-padding: 5px;
    --secondary-padding: 3px;
    --margins: 3px;
    --border-r: 12px;
}

body {
    padding: var(--general-padding);
    margin: 5px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    background-color: rgb(234, 234, 234);
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
}

header {
    display: flex;
    background-color: var(--dark-blue);
    color: var(--titles-color);
    padding: var(--general-padding);
    justify-content: space-around;
    gap: 10px;
}

header img {
    display: block;
    width: 40px;
    height: auto;
    margin: var(--margins);
}

header span {
    text-align: center;
    color: var(--titles-color);
    align-self: center;
    font-size: x-large;
}

/* Hamburger nav */

.hamburger {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    align-self: center;
    font-size: large;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2.5rem;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation.show li {
    border-bottom: 1px solid var(--nav-text-color);
}

ul li {
    list-style: none;
}

h1 {
    text-align: left;
    font-size: 1.5rem;
}

#p-color {
    color: #FFF176;
}

.hero-image {
    position: relative;
}

#keynote-tickets {
    position: absolute;
    display: flex;
    justify-self: flex-end;
    font-size: 1rem;
    border-radius: var(--border-r);
    padding: 10px 10px;
    cursor: pointer;
    color: var(--dark-blue);
    font-family: "Noto Sans", sans-serif;
    transition: background-color 0.8s ease, color 0.2s ease;
    font-weight: bold;
    right: 25%;
    bottom: 2px;

}

#keynote-tickets:hover {
    background-color: var(--nav-text-color-hover);
    font-weight: bold;
    color: var(--nav-text-color);
}


.hero-image img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    justify-self: center;
    background-color: var(--light-blue);
    color: var(--text-color);
    padding: var(--general-padding);
    margin: var(--margins);
    border-radius: var(--border-r);
    border: 1px solid rgb(40, 37, 37);
}





.card {
    display: flex;
    flex-direction: column;
    padding: var(--general-padding);
    gap: 5px;
    margin-top: 15px;
    width: 100%;
}



.weather {
    display: flex;
    gap: 30px;
    background-color: var(--dark-blue-2);
    border-radius: var(--border-r);
}

.weather img {
    width: 70px;
    height: auto;
    align-self: center;
    background-color: var(--light-blue-2);
    border-radius: var(--border-r);
    padding: var(--general-padding);
    margin-left: 5px;
}

.weather ul {
    display: flex;
    flex-direction: column;
}

.weather ul li,
.forecast ul li {
    line-height: 1.5;
}

#description {
  text-transform: capitalize;
}




.menu {
    display: none;
}



main p {
    line-height: 1.7;
    margin-top: 10px;
    font-family: "Noto Sans", sans-serif;

}

h2 {
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--titles-color);
}

nav {
    background-color: var(--dark-blue-2);
    display: flex;
    flex-direction: column;
    padding: var(--general-padding);
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--nav-text-color-hover);
}

nav li:hover {
    cursor: pointer;
    color: var(--nav-text-color-hover);
    background-color: var(--dark-blue);
}


 #spotlights  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    gap: 15px;
    border-radius: var(--border-r);
    padding: var(--general-padding);
  }

  #spotlights section {
    background-color: var(--sec-bg);
    padding: var(--general-padding);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-r);
    justify-content: space-between;
  }

  #spotlights section div {
    text-align: left;
    overflow-wrap: break-word;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  h3 {
    background-color: var(--dark-blue-2);
    border-radius: var(--border-r);
    padding: var(--general-padding);
  }

  #spotlights section div a {
    text-decoration: none;
    color: var(--dark-blue);
  }

  #spotlights section img {
    width: 70%;
    height: auto;
    margin: 5px auto;
    justify-self: center;
  }



.social-links {
    align-self: center;
}

.social-links img {
    width: 50px;
    height: auto;
    margin: 5px 2px;
}



footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--dark-blue);
    color: var(--text-color);
    height: 50%;
    gap: 20px;
}

.chamber-info, .copyright-modification {
    line-height: 1.5;
    margin: 10px 10px;
}

@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }

  .navigation ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
    padding: 15px;
  }


  .header-nav {
    display: flex;
    justify-content: space-between ;
    background-color: var(--dark-blue);
  }

  .flex-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu {
    display: block;
    justify-self: flex-end;
    margin-bottom: 15px;
  }

  .menu button {
    background-color: var(--light-blue);
    border-style: none;
  }

  .menu button:hover {
    cursor: pointer;
  }

  .menu img {
    width: 25px;
    height: auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
  }

  .social-links {
    margin: 0 auto;
  }

  .copyright-modification {
    align-content: center;
  }
}