@media screen and (min-width: 700px) {

  /* estilos para las tarjetas en cuadricula y lista */

  #sections  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: 0 auto;

  }

  #sections section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  h3 {
    grid-column: 1/3;
    grid-row: 1;

  }

  #sections section img {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    align-self: center;
    display: block;
}


  #sections section div {
    font-size: small;
    margin-left: 15px;

  }

  /* estilo lista */

  #sections.list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }


  #sections.list section, #sections.list section div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #sections.list h3 {
    border-style: none;
    background-color: unset;
    color: var(--dark-blue);
  }

   #sections.list section:nth-child(even){
    background-color: var(--dark-blue-2);
  }

  #sections.list section:nth-child(even) h3,
  #sections.list section:nth-child(even) a,
  #sections.list section:nth-child(even) p{
      color: #ffffff;
    }



  #sections.list section img {
    display: none;
  }

  #sections.list section div {
    align-items: center;
    gap: 12px;
  }
  
}