/* css para la secciones con informacion de los negocios */

#sections {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#sections section {
    background-color: var(--sec-bg);
    color: var(--dark-blue);
    padding: var(--general-padding);
    margin: var(--margins);    
    border-radius: var(--border-r);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sections section img {
    width: 100%;
    max-width: 340px;
    height: auto;
}

h3 {
    text-align: center;
    border-bottom: 3px solid var(--light-blue);
    margin-bottom: 15px;
    padding: var(--general-padding);

  
    background-color: var(--dark-blue-2);
    color: var(--nav-text-color);
    border-radius: var(--border-r);
}


#sections section div {
    padding: var(--general-padding);
}

#sections section div p {
    margin-bottom: 10px;
    margin-left: 2px;
    overflow-wrap: break-word;
}

#sections section div a {
    text-decoration: none;
    color: var(--dark-blue);
}
