@media screen and (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }

  .navigation ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
    padding: 15px;
  }


  .header-nav {
    display: flex;
    justify-content: space-between ;
    background-color: var(--dark-blue);
  }

  .flex-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .menu {
    display: block;
    justify-self: flex-end;
    margin-bottom: 15px;
  }

  .menu button {
    background-color: var(--light-blue);
    border-style: none;
  }

  .menu button:hover {
    cursor: pointer;
  }

  .menu img {
    width: 25px;
    height: auto;
  }



  footer {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
  }

  .social-links {
    margin: 0 auto;
  }

  .copyright-modification {
    align-content: center;
  }

  /* estilos para las tarjetas en cuadricula y lista */

  #sections  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin: 0 auto;

  }

  #sections section div {
    font-size: small;
  }

  /* estilo lista */

  #sections.list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }


  #sections.list section, #sections.list section div {
    display: flex;
    justify-content: space-between;
  }

  #sections.list h3 {
    border-style: none;
    background-color: unset;
    color: var(--dark-blue);
  }

   #sections.list section:nth-child(even){
    background-color: var(--dark-blue-2);
    h3, a, p{
      color: #ffffff;
    }
    
  }

  #sections.list section img {
    display: none;
  }

  #sections.list section div {
    align-items: center;
    gap: 12px;
  }
  

}